variant_out/
install_plan.json
__pycache__/
*.py[cod]
.venv/
*.fa.gz
*.fasta.gz
*.bam
*.cram
*.vcf.gz
!test_data/**
test_data/ref/*.amb
test_data/ref/*.ann
test_data/ref/*.bwt*
test_data/ref/*.pac
test_data/ref/*.sa
test_data/ref/*.fai
test_data/ref/*.dict
.DS_Store
*.log
